<br>
<div class="container-fluid">
    <div class="row">
         
            <div class="col-md-3" style="margin-left:6ex;">
              <span style="float:left;"><img src="../assets/Images/q.svg" alt="" width="60sp" height="60sp" ></span>
                <p style="font-size:3.5ex;font-family:Verdana;float:left; color:black;">uick</p> <div style="float:left;font-size:3.5ex;font-family:Verdana;color:rgb(70, 165, 253);">Buy.com</div>
           </div>
           <div class="col-md-5"></div>
           <div class="col-md-1">
                 <a href="#" style="color:black;font-size:2.7ex;text-decoration:none;">Sign In</a>
           </div>
           <div class="col-md-2">
              <button class="btn btn-light" style="font-size:2.2ex;">Create an Account</button>
           </div>
          </div>
    </div>
    <div class="bg" style=" background-image: url('../assets/Images/bg.jpg');background-repeat: no-repeat;background-position: center center;background-attachment: fixed;background-size: cover; width:100%; height:50ex;">
      <div class="container-fluid">
      <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-7">
                <br><br><br><br><br><br><br>
                <p style="font-size:3.5ex;font-family:Verdana;">Buy The Need In Your Favorite Shop</p>
                <input  class="float-left"height="200"  type="text" placeholder="Enter Your Location" style="width:75%;display:inline-block;height:6ex;">
                &nbsp; <button class="btn btn-warning" style="height:6ex;"> Get The Shops</button>
              </div>
              <div class="col-sm-1"></div>
        </div>
      </div>  
    </div>
<div class="container">
  <div class="row">
          <div class="col-sm-5" style>
                <br><br><br>
                <h1>Nearby Shops in </h1>
                <h1>your pocket</h1>
                
                <p style="color:rgb(177, 183, 184);font:3.5ex rgb(145, 138, 138);font-family:Verdana;">Order the things from your nearby shops and save your time.</p>
                <img src="../assets/Images/playstore.PNG" width=100%>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
              <br>
                <img src="../assets/Images/mobileapp.png" width=100% height="100%">
          </div>
  </div>
</div>
<br>
<div class="a" style="background:rgba(26, 0, 0, 0.856)">
  
  <div class="container">
    <div class="row align-items-center" style="color:white;">
      <div class="col-sm-3 text-center" style="color:white;"><img src="../assets/Images/1.webp" style="padding:3ex;" height="200ex"><br><br>
        <h4>No Minimum Order</h4><p style="color:burlywood">Order in for yourself or group for any things in your by shops.  </p></div>
      <div class="col-sm-3 text-center" style="color:white;"><br><br><br><img src="../assets/Images/2a.svg" style="padding:3ex;" height="200ex"><br><br><h4>Develope your Bussiness</h4><p style="color:burlywood">Keep your bussiness online and make your market more nad more.Now your Records of data will be digital.  </p></div>
    
      <div class="col-sm-3 text-center" style="color:white;"><img src="../assets/Images/4a.webp"  style="padding:3ex;"height="200ex;"><br><br><h4>Fast Delivery</h4><p style="color:burlywood">Experience the Superfast delivery from Quickbuy.com </p></div>
      <div class="col-sm-3 text-center" style="color:white;"><br><br><img src="../assets/Images/3a.png"  style="padding:3ex;"width="100%" height="200ex"><br><br><h4>Easy Shopping</h4><p style="color:burlywood">Choose the shops select your favorite items in diiferent sources and pick your stuff allow for delivery.  </p></div>
    </div>
  </div>
  <br>
</div>
<br>
<hr>
<br>
<div class="container">
  <h2>Things near me</h2>
  <br>
  <div class="row text-center">
    <div class="col-sm-2"><img src="../assets/Images/a.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Groceries</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/b.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Food</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/c.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Clothes & Jewellery</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/d.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Mechanics</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/e.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Stationary</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/f.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Hospital & Medicals</h4></div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-sm-2"><img src="../assets/Images/g.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Hardware products</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/h.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Vehicle Showrooms</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/i.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Mobiles & Repairs</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/j.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Saloons & Parlours</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/k.jpg" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Gift & Crafts</h4></div>
    <div class="col-sm-2"><img src="../assets/Images/l.png" width="100%" height="150ex" style="border-radius: 50%;"><br><br><h4>Others</h4></div>
  </div>
</div>
<br>
<hr>
<br>
<div  style="background:black;">
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col-sm-6">
          <div style="font-size:3.5ex;font-family:Verdana;float:left; color:white;"><p>Quick</p></div> <div style="float:left;font-size:3.5ex;font-family:Verdana;color:rgb(70, 165, 253);">Buy.com</div>

      </div>
      <div class="col-sm-3" style="color:white;font:2.5ex arial">
      <a href="#" style="text-decoration: none;color:white"><p>About Quick Buy</p></a>
      <a href="#" style="text-decoration: none;color:white"><p>Read Our Blog</p></a>
      <a href="#" style="text-decoration: none;color:white"><p>Sign Up for Delivery</p></a>
      <a href="#" style="text-decoration: none;color:white"><p>Add your Bussiness</p></a>
      <a href="#" style="text-decoration: none;color:white"><p>Earn Gift & Offers</p></a>
      </div>
      <div class="col-sm-3" style="color:white;font:2.5ex arial">
          <a href="#" style="text-decoration: none;color:white"><p>Get Help</p></a>
            <a href="#" style="text-decoration: none;color:white"><p>FAQ's</p></a>
              <a href="#" style="text-decoration: none;color:white"><p>Shops near me</p></a>
                <a href="#" style="text-decoration: none;color:white"><p>Bussiness</p></a>
                  <a href="#" style="text-decoration: none;color:white"> <p>Delivery prerequisites</p></a>
      </div>
    </div>
  
</div>
<hr style="background:white;">
<div class="container">
<div class="row ">
  <br>
  <div class="col-sm-4"style="color:white;"><h6>www.quickbuy.com</h6></div>
  <div class="col-sm-4 text-center"style="color:white;"><h6>2019 Terms of use</h6></div>
  <div class="col-sm-4 d-block center mx-auto"style="color:white;float:right;"><span class="center" style="float:left;"><img src="../assets/Images/fb.png" alt="" width="50sp" height="50sp" ></span>
    &nbsp;<span style="float:left;padding:1;" class="center"><img src="../assets/Images/insta.png" alt="" width="60sp" height="60sp" ></span>
    &nbsp;<span style="float:left;" class="center"><img src="../assets/Images/twit.png" alt="" width="50sp" height="50sp" ></span>
    <h6>__quickbuy__</h6>

  </div>
</div>
<br>
</div>
</div>
       

          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>