<div class="container-fluid" style="background:blue;">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br>
            <br>
                        <div class="card">
                          <div class="card-header">
                              <div class="text-center center">
                                <span><img src="q.svg" class="center"style="float:left;"alt="" width="60sp" height="60sp" ></span>
                                <p class="text-center"style="font-size:3.5ex;float:left;font-family:Verdana; color:black;">uick</p> <p style="font-size:3.5ex;font-family:Verdana;color:rgb(70, 165, 253);">Buy.com</p>
                            </div>
                            <br>
                                  <h1 class="text-center">Login</h1>
                                   <div class="row">
                                     <div class="col-md-1"></div>
                                     <div class="col-md-10">
                                       <hr>
                                      
                                       <p> Enter e-mail and Password </p>
                              <input type="text" class="mx-auto d-block" style="height:40px; width:100%"  placeholder="Username or E-mail">
                              <br>
                              <input type="text" class="mx-auto d-block" style="height:40px; width:100%"  placeholder="Password">
                              <a href="#" ><p> forgot password?</p></a>
                              <button class="btn btn-info mx-auto d-block" style="width:100%">Log In</button>
                                     </div>
                                     <div class="col-md-1"></div>
                                   </div>
                                   <br>
                            </div>
                            
                        </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        <br>
        <br>
        <br>
       
      </div>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>