<div class="container-fluid" style="background:blue;">
        <br>
            <div class="row">
                    <div class="col-md-3"></div>
                <div class="col-md-6">
                        <div class="card">
                                <div class="card-header">
                                    <br>
                                        <img src="./assets/images/home.png" class="mx-auto d-block" width="90px" height="90px">
                                        <h1 class="text-center">Sign Up</h1>
                                         <div class="row">
                                           <div class="col-md-1"></div>
                                           <div class="col-md-10">
                                             <hr>
                                            
                                             <h5 style="float:left;">First Name &nbsp;</h5>
                                             <input type="text"  style="height:40px;float:left;" size="14" placeholder="First Name">
    
                                             <h5 style="float:left;">&nbsp;Last Name&nbsp; </h5>
                                             <input type="text"  style="height:40px;float:left;" size="14" placeholder="Last Name">
                                             <br>
                                             <br>
                                             <br>
                                             
                                             <h5 style="float:left;">Mobile no&nbsp;&nbsp;&nbsp;</h5>
                                             <input type="text"  style="height:40px;" size="40" placeholder="Mobile Number">
                                             <br>
                                             <br>
                                             <h5 style="float:left;">E-mail&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                                             <input type="text"  style="height:40px;" size="40" placeholder="Username or E-mail">
                                             <br>
                                             <br>
                                             <h5 style="float:left;">Password&nbsp;&nbsp;&nbsp;&nbsp; </h5>
                                    <input type="text"  style="height:40px;" size="40" placeholder="Password">
                                    <br>
                                    <br>
                                    <h5 style="float:left;">Confirm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h5>
                           <input type="text"  style="height:40px;" size="40" placeholder="Confirm Password">
                           <br>
                           <br>
                                    <button class="btn btn-info mx-auto d-block" style="width:100%;">Submit</button>
                                           </div>
                                           <div class="col-md-1"></div>
                                         </div>
                                         <br>
                                  </div>
                                  
                              </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <br>
            </div>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>